Library
Temp
Temp.meta
Build
socialSecurity.zip
.idea
.vscode
*.csproj
*.unityproj
*.sln
*.userprefs
*.use
Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
Assembly-CSharp-Editor.dll
Assembly-CSharp-Editor.dll.mdb
Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
Assembly-CSharp.dll
Assembly-CSharp.dll.mdb
Bin